@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Founders Grotesk", Arial, Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}
